.main {
    background-color: rgb(230, 230, 230);
    height: 100%;
}

#Main {
    height: calc(100% - 34px);
}

#Main,
.main {
    flex: 1 1 auto;
    display: flex;
}

.main>* {
    /* margin: 0 auto; */
    margin-left: 5px;
}