.titleBarContainer {
    /* -webkit-app-region: drag; */
    border-bottom: 2px solid black;
}

.titleBar {
    -webkit-user-select: none;
    padding-left: 5px;
    width: 100%;
    background-color: #cececa;
}

.titleBar * {
    color: black;
}

.titleBar .closeButton:hover {
    background-color: red;
    color: white !important;
}

.titleBar> :first-child {
    margin-right: auto;
}

.titleBar> :not(:first-child) {
    -webkit-app-region: no-drag;
}