.titleBarContainer {
    -webkit-app-region: drag;
    border-bottom: 2px solid black;
}

.titleBar {
    -webkit-user-select: none;
    padding-left: 1em;
    width: 100%;
    background-color: #cececa;
}

.titleBar i {
    color: black;
}

.titleBar .closeButton:hover {
    background-color: red;
}

.titleBar .closeButton:hover i {
    color: white !important;
}

.titleBar> :first-child {
    margin-right: auto;
}

.titleBar> :not(:first-child) {
    -webkit-app-region: no-drag;
}