.main {
    height: 100%;
}

#Main {
    height: calc(100% - 34px);
    overflow-y: scroll;
}

#Main,
.main {
    background-color: rgba(255, 255, 255, 0.2);
    flex: 1 1 auto;
    display: flex;
}

.main>* {
    margin: 0 auto;
}